* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    font-family: 'Roboto', sans-serif !important;
}

.mapboxgl-popup{
    max-width: 427px !important;
}

.mapboxgl-popup-content {
    width: 427px;
    height: 177px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .mapboxgl-popup-content .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 74px;
  }
  .mapboxgl-popup-content .popup .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;
    height: 77px;
    border-radius: 77px;
    box-shadow: 0 8px 29px #e6eaf2;
    background-color: #ffffff;
    margin-top: -50px;
    margin-bottom: 21px;
  }
  .mapboxgl-popup-content .popup .logo-container img {
    width: 38px;
    height: 38px;
  }
  .mapboxgl-popup-content .popup .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mapboxgl-popup-content .popup .text span {
    color: #0f538a;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
  .mapboxgl-popup-content .popup .text p {
    text-align: center;
    color: #807e86;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

@media (max-width: 1050px){
  .mapboxgl-popup-content {
    width: 200px;
    height: 180px;
  }
  .mapboxgl-popup-content .popup{
    padding: 0 12px;
  }
  .mapboxgl-popup-content .popup .text {
    text-align: center;
  }
  .mapboxgl-popup-content .popup .text span {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
  }
  .mapboxgl-popup-content .popup .text p {
    font-size: 12px; 
    line-height: 18px;
  }
}