* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

a,
button {
    cursor: pointer;
    &.logo{
        cursor: default !important;
    }
}

html,body{
    overflow-x: hidden;
}