header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.1);
    * {
        @include fontDinPro();
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav {
        display: flex;
        align-items: center;
        .cidade {
            position: relative;
            margin-right: 172px;
            &.show-cidade {
                .item-selected {
                    .arrow {
                        transition: all .3s;
                        transform: rotate(180deg);
                    }
                }
                .dropdown {
                    opacity: 1;
                    top: 45px;
                    pointer-events: all;
                    transition: all .3s;
                }
            }
            .item-selected {
                display: flex;
                align-items: center;
                cursor: pointer;
                .icone {
                    margin-right: 9px;
                }
                span {
                    color: #807e86;
                    font: normal 500 18px/1 'Roboto';
                    letter-spacing: -0.9px;
                    margin-right: 17px;
                    strong {
                        font-weight: 700;
                        font-size: 18px;
                        color: #807e86;
                    }
                }
                .arrow {
                    transition: all .3s;
                    transform: rotate(0deg);
                }
            }
            .dropdown {
                position: absolute;
                width: 358px;
                height: 179px;
                box-shadow: 2px 3px 16px rgba(0, 0, 0, 0.14);
                background-color: #ffffff;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 51px;
                top: 40px;
                left: 0;
                opacity: 0;
                pointer-events: none;
                transition: all .3s;
                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    width: 0;
                    height: 0;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-bottom: 12px solid white;
                    position: absolute;
                    top: -12px;
                    left: 50%;
                    margin-left: -12px;
                }
                li {
                    list-style-type: disc;
                    color: #807e86;
                    margin-bottom: 29px;
                    transition: all .3s;
                    &:hover {
                        color: #008094;
                        transition: all .3s;
                        a {
                            color: #008094;
                            transition: all .3s;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    a {
                        color: #807e86;
                        font-size: 18px;
                        transition: all .3s;
                    }
                }
            }
        }
        .whats-app {
            display: flex;
            align-items: center;
            padding-right: 39px;
            margin-right: 50px;
            border-right: 1px solid rgba(0, 171, 197, 0.3);
            height: 31px;
            img {
                margin-right: 11px;
            }
            span {
                font-size: 15px;
                letter-spacing: -0.75px;
                color: #807e86;
                font-weight: 500;
            }
        }
        .btns {
            display: flex;
            align-items: center;
            li {
                margin-left: 47px;
                &:first-child {
                    margin-left: 0px;
                }
                a {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 16px;
                    }
                    span {
                        color: #57555f;
                        font: normal 400 15px/1 'Roboto';
                        letter-spacing: -0.75px;
                    }
                }
            }
        }
    }

    @media (max-width: 1050px) {
        nav{
            display: none;
        }
    }
}

.menu-button {
    display: block;
    width: 32px;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
    margin: 0px;
    display: none;
  }
  a.menu-button:hover .menu-icon,
  a.menu-button:hover .menu-icon::after {
    width: 32px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon {
    width: 32px;
    height: 2px;
    background-color: #0f538a;
    display: block;
    position: relative;
    float: right;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon::before,
  .menu-icon::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #0f538a;
    position: absolute;
    right: 0;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon::before {
    margin-top: -8px;
    width: 32px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon::after {
    margin-top: 8px;
    width: 32px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-opened .menu-icon {
    height: 0;
    width: 32px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-opened .menu-icon::after {
    width: 32px;
    transform: rotate(45deg);
    margin-top: 0;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-opened .menu-icon::before {
    transform: rotate(-45deg);
    margin-top: 0;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
@media (max-width: 1050px){
    .menu-button{
        display: block;
    }
}
